name: 'Update default version and checksums'
on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '20'
      - name: Update default version and checksums
        id: update-default-version
        run: node dist/update-default-version/index.js src/download/checksum/known-checksums.ts action.yml ${{ secrets.GITHUB_TOKEN }}
      - run: npm install && npm run all
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@c5a7806660adbe173f04e3e038b0ccdcd758773c  # v6.1.0
        with:
            commit-message: "chore: update checksums"
            title: "chore: update default version to ${{ steps.update-default-version.outputs.latest-version }}"
            body: "chore: update default version to ${{ steps.update-default-version.outputs.latest-version }}"
            base: main
            labels: "automated-pr,bugfix"
            branch: update-default-version-pr
            delete-branch: true